li{
    display: inline;
    padding-right:15px ;
    
}
ul a{
text-decoration: none;
color: #666;
}
body{
    font-family: sans-serif;
}
ul a:hover{
    text-decoration: underline;
    color: black;
    

}